@charset "utf-8";

@font-face {
    font-family: 'SUITE';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/SUITE-Thin.eot');
    src: url('../fonts/SUITE-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SUITE-Thin.woff2') format('woff2'),
        url('../fonts/SUITE-Thin.woff') format('woff'),
        url('../fonts/SUITE-Thin.ttf') format("truetype");
}
@font-face {
    font-family: 'SUITE';
    font-weight: 200;
    src: url('../fonts/SUITE-ExtraLight.eot');
    src: url('../fonts/SUITE-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SUITE-ExtraLight.woff2') format('woff2'),
        url('../fonts/SUITE-ExtraLight.woff') format('woff'),
        url('../fonts/SUITE-ExtraLight.ttf') format("truetype");
}
@font-face {
    font-family: 'SUITE';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/SUITE-Light.eot');
    src: url('../fonts/SUITE-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SUITE-Light.woff2') format('woff2'),
        url('../fonts/SUITE-Light.woff') format('woff'),
        url('../fonts/SUITE-Light.ttf') format("truetype");
}
@font-face {
    font-family: 'SUITE';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/SUITE-Regular.eot');
    src: url('../fonts/SUITE-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SUITE-Regular.woff2') format('woff2'),
        url('../fonts/SUITE-Regular.woff') format('woff'),
        url('../fonts/SUITE-Regular.ttf') format("truetype");
}
@font-face {
    font-family: 'SUITE';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/SUITE-Medium.eot');
    src: url('../fonts/SUITE-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SUITE-Medium.woff2') format('woff2'),
        url('../fonts/SUITE-Medium.woff') format('woff'),
        url('../fonts/SUITE-Medium.ttf') format("truetype");
}
@font-face {
    font-family: 'SUITE';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/SUITE-SemiBold.eot');
    src: url('../fonts/SUITE-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SUITE-SemiBold.woff2') format('woff2'),
        url('../fonts/SUITE-SemiBold.woff') format('woff'),
        url('../fonts/SUITE-SemiBold.ttf') format("truetype");
}
@font-face {
    font-family: 'SUITE';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/SUITE-Bold.eot');
    src: url('../fonts/SUITE-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SUITE-Bold.woff2') format('woff2'),
        url('../fonts/SUITE-Bold.woff') format('woff'),
        url('../fonts/SUITE-Bold.ttf') format("truetype");
}
@font-face {
    font-family: 'SUITE';
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/SUITE-ExtraBold.eot');
    src: url('../fonts/SUITE-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SUITE-ExtraBold.woff2') format('woff2'),
        url('../fonts/SUITE-ExtraBold.woff') format('woff'),
        url('../fonts/SUITE-ExtraBold.ttf') format("truetype");
}
@font-face {
    font-family: 'SUITE';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/SUITE-Heavy.eot');
    src: url('../fonts/SUITE-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SUITE-Heavy.woff2') format('woff2'),
        url('../fonts/SUITE-Heavy.woff') format('woff'),
        url('../fonts/SUITE-Heavy.ttf') format("truetype");
}

/* Default Style */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, p, span, i, input, select {margin:0; padding:0; border:0; font-size:100%; font-style:normal; letter-spacing:-1px; background-color:transparent; vertical-align:baseline;}
form, div, p, span, ul, li, dl, dt, textarea, h1, h2, h3, h4, h5, h6 {margin:0px; padding:0px; word-break:keep-all;}
html {-webkit-text-size-adjust:none; -moz-text-size-adjust:none; -ms-text-size-adjust:none; -o-text-size-adjust:none; text-size-adjust:none;}
html, body {font-weight:400; line-height:1.5; font-family:'SUITE', 'Malgun Gothic', '맑은 고딕', 'Dotum', '돋움', sans-serif;}
ol, ul {list-style:none;}
img {max-width:100%;}
table {width:100%; border-collapse:collapse; border-spacing:0; table-layout:fixed;}
label,button {cursor:pointer;}
button {margin:0; padding:0; border:0; font:inherit; color:inherit; background:transparent; overflow:visible; cursor:pointer;}
a:link, a:visited, a:hover, a:active, a:focus {text-decoration:none; color:inherit; cursor:pointer;}
a.disabled {color:#9a9a9a !important; pointer-events:none;}
legend, caption {width:0; height:0; font-size:0; line-height:0;}
input, textarea, select {color:inherit; font:inherit; vertical-align:middle; -webkit-appearance:none; -moz-appearance:none; -webkit-border-radius:0; -moz-border-radius:0;}
*::-moz-focus-inner {padding:0; border:0;}
*::-ms-clear {display:none;}
* {box-sizing:border-box;}